<<<<<<< HEAD
body {
    background: #FCD1FF;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
    color: #FC4EA8;
    text-align: center;
    }

    .projects { 
        display:flex;
        flex-wrap:wrap; } 
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(241, 156, 227);
border-radius: 25%;
}
=======
body {
    background: #FCD1FF;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
    color: #FC4EA8;
    text-align: center;
    }
>>>>>>> eaf6eab978806a452aa888e5d5e4010fa172875a
